.wd-bg-color-black {
  background-color: black;
}

.wd-left-padding {
  padding-left: 16px;
}

.wd-top-padding {
  padding-top: 12px;
}

.wd-bookmarks-title {
  padding-top: 12px;
  color: white;
  font-size: 20px;
}

.wd-user-handle {
  color: lightgray;
  font-size: 13px;
  padding-top: 16px;
  padding-bottom: 12px;
}

.wd-content-post-avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.wd-grid-row {
  clear:both;
  align-items: center;
}

.wd-post-author {
  font-size: 15px;
  color: white;
}

.wd-content {
  padding-left: 12px;
  display: flex;
  flex-wrap: nowrap;
  /*border: solid yellow;*/
}

.wd-post-handle-and-date {
  font-size: 15px;
  color: lightgray;
}

.wd-post-info-width{
  width: 10%;
  float: left;
}

.wd-border {
  border: solid rgb(47, 51, 54);
  overflow: hidden;
}

.wd-post-content {
  padding-top: 0px;
  color: white;
  font-size: 15px;
  max-width: 506px;
}

.wd-post-image {
  width: 506px;
  height: 264px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.wd-avatar {
  padding-left: 16px;
  padding-top: 12px;
  width: 5%;
  float: left;
  display: flex;
  flex-wrap: nowrap;
  /*border: solid red;*/
}

.wd-image-title {
  font-size: 15px;
  margin: 12px 12px 0px;
  color: white
}

.wd-image-text {
  font-size: 15px;
  margin: 0px 12px 12px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: lightgray;
}

.wd-left-right-border {
  border-top: solid rgb(47, 51, 54);
  border-left: solid rgb(47, 51, 54);
  border-right: solid rgb(47, 51, 54);
  overflow: hidden;
  border-width: 1px;
}

.wd-bottom-border {
  border-left: solid rgb(47, 51, 54);
  border-right: solid rgb(47, 51, 54);
  border-bottom: solid rgb(47, 51, 54);
  overflow: hidden;
  border-width: 1px;
}

.wd-container {
  display: flex;
}

.wd-left-element {
  width: 5%;
}

.wd-right-element {
  width: 95%;
}

.wd-icons-gray {
  color: lightgray;
  width: 15px;
}

.wd-icons-red {
  color: red;
  width: 15px;
}

.wd-icon-width {
  width: 2%;
  float: left;
  horiz-align: center;
}

.wd-icon-text-padding {
  padding-right: 40px;
}

.wd-icon-padding {
  padding-left: 40px;
}
