/* All classes start with wd-*/
/* at least 2 examples of C D E */
.wd-grid-row {
  clear:both;
}

.wd-col-70 {
  width: 80%;
  float: left;
  overflow: hidden;
}

.wd-col-20 {
  width: 10%;
  float: left;
}

.wd-col-one-sixth-page {
  width: 14.2%;
  float: left;
}


.wd-bg-color-black {
  background-color: black;
}

.wd-border {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(47, 51, 54);
}

.wd-passing-left {
  padding-left: 16px;
}

.wd-input-field-bg-color-dark-gray {
  background-color: darkgray;
}

.wd-input-field {
  background-color: darkgray;
  color: white;
  border-radius: 50px;
  height: 30px;
  padding-left: 20px;
}
::placeholder {
  color: white;
}
.wd-explore-setting {
  font-size: 30px;
  text-align: center;
}

a:link {
  text-decoration: none;
}

.wd-highlighted-link {
  color: rgb(29,161, 242);
  font-size: 15px;
  padding: 16px;
  text-decoration: underline;
}

.wd-link {
  color: rgb(110,118, 125);
  font-size: 15px;
  padding: 16px;
}

.wd-topic {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-title {
  font-size: 15px;
  color: white;
}

.wd-num-of-tuits {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-author {
  color: white;
}

.wd-post-img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  position: relative;
  right: 5px;
}

.wd-post-border {
  border-style: solid;
  border-color: rgb(47, 51,54);
  border-width: 1px;
  padding: 10px;
  overflow: hidden;
}