/*Getting and Setting Attributes*/
.class-0 {
  background-color: red;
  color: white;
}

/*Adding and Removing Classes*/
.class-1 {
  background-color: blue;
  color: white;
}

.class-2 {
  background-color: green;
  color: yellow;
}

/*Hiding and Showing Content*/
.im-hidden {
  display: none;
}
